<%= form_for message, :url => {:action => :create} do |f| %>
    <div class="form-group">
       <%= f.text_field :content,class: "form-control" %>
    </div>
    <div class="text-center">
       <%= f.submit 'Send',class:"btn btn-primary" %>
    </div>
<% end %>