<% if logged_in? %>
 <h3>Timeline</h3>
    <%= render "posts/posts", posts: @posts %>
  <% else %>
   <div class ="center jumbotron">
      <div class ="text-center">
        <h1>Welcome to EnglishRoom</h1>  
      </div> 
   </div>
<% end %>